<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Services -->
    <bean id="userServiceImpl" class="com.example.UserService" />
    <bean id="eventServiceImpl" class="com.example.EventService" />
    <bean id="ticketServiceImpl" class="com.example.TicketService" />

    <!-- Bean for the facade and wire its dependencies -->
    <bean id="bookingFacade" class="com.example.BookingFacadeImpl">
        <constructor-arg name="userServiceImpl" ref="userServiceImpl" />
        <constructor-arg name="eventServiceImpl" ref="eventServiceImpl" />
        <constructor-arg name="ticketServiceImpl" ref="ticketServiceImpl" />
    </bean>

    <!-- Beans for DAOs and other components -->
    <bean id="eventDao" class="com.example.demo.dao.EventDao" />
    <bean id="ticketDao" class="com.example.demo.dao.TicketDao" />
    <bean id="userDao" class="com.example.demo.dao.UserDao" />


    <!-- In a modern Spring project, if you're using Spring Boot, PropertyPlaceholderConfigurer
    is included by default and you don't need to define it explicitly in the XML configuration -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:application.properties</value>
        </property>
    </bean>
</beans>